  .card:hover {
    background-color: #f0f0f0 !important;
    cursor: pointer;
  }
  
  .card .button-area {
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
  }
  
  .card:hover .button-area {
    visibility: visible;
    opacity: 1;
    animation: showButton 0.3s ease-in-out 1s forwards;
  }
  
  @keyframes showButton {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  